.folder{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 3px;
  cursor: pointer;
  background-color: rgb(170, 170, 170);
}

.folder > span {
  margin: 0 5px;
}

.file{
  display: flex;
  flex-direction: column;
}
